.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.main {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.editor-content {
  padding-top: 10px;
  margin-right: 10px;
  outline: none;
  padding-left: calc(50% - 27.834rem);
  padding-right: calc(50% - 27.834rem);
  min-height: 200px;
}
.title-input {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  padding-left: calc(50% - 27.834rem);
  padding-right: calc(50% - 27.834rem);
  padding-top: 4rem;
}
